@import url("https://fonts.googleapis.com/css?family=Hepta+Slab&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  background-image: radial-gradient(#326273, #5C9EAD);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color: #FFFFFF;
  font-family: "Hepta Slab", sans-serif;
  font-size: 16px;
  user-select: none;
  z-index: 0;
}
.container .top-bar {
  position: absolute;
  top: 8px;
}
.container .top-bar button {
  padding: 0.2rem 1rem;
  border: none;
  border-radius: 0.3rem;
  background-color: #E39774;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 600;
  outline: none;
}
.container .top-bar button:hover {
  cursor: pointer;
}
.container .top-bar #game-start {
  margin-right: 1rem;
  transition: background-color 0.5s, color 0.5s;
}
.container .top-bar #game-start:hover {
  background-color: #FFFFFF;
  color: #E39774;
}
.container .top-bar #match-reset {
  transition: background-color 0.5s;
}
.container .top-bar #match-reset:hover {
  background-color: #b30000;
}
.container .scoreboard-bar {
  position: absolute;
  top: 82px;
}
.container .scoreboard-bar .border-right {
  margin-right: 0.2rem;
  padding-right: 0.6rem;
  border-right: 3px solid #E39774;
}
.container .message-bar {
  position: absolute;
  top: 52px;
}
.container .bottom-bar {
  position: absolute;
  bottom: 5px;
  font-size: 16px;
}
.container .bottom-bar .attribution {
  margin-right: 10px;
}
.container .bottom-bar .logos:hover {
  cursor: pointer;
}
.container .bottom-bar .logos a {
  color: #FFFFFF;
}
.container .bottom-bar .logos a:hover {
  color: #E39774;
}
.container .bottom-bar .logos a:visited {
  color: #cc9900;
}

.game-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 1%;
  background: #B3B3B3;
  z-index: 3;
}
.game-container .game-square {
  flex: 0 0 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 30%;
  background-color: #EEEEEE;
  font-size: 50px;
  transition: background-color 0.5s;
}
.game-container .game-square:hover {
  cursor: pointer;
  background-color: #E39774;
}
.game-container .X {
  color: #b30000;
  animation: mark-select 0.5s ease;
}
.game-container .O {
  color: #5C9EAD;
  animation: mark-select 0.5s ease;
}

.shake-win {
  animation: shake-win 2000ms ease both;
}

@keyframes shake-win {
  0% {
    transform: scale3d(1, 1, 1);
    color: #cc9900;
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
    color: #cc9900;
  }
}
@keyframes mark-select {
  0% {
    transform: scale(1.3);
    transform-origin: 50% 0%;
    filter: blur(2px);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    transform-origin: 50% 0%;
    filter: blur(0px);
    opacity: 1;
  }
}

/*# sourceMappingURL=index.css.map */
