@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Hepta+Slab&display=swap');

$font-main: 'Hepta Slab', sans-serif;
$color-white: #FFFFFF;
$color-light-gray: #EEEEEE;
$color-dark-gray: #B3B3B3;
$color-black: #000000;
$color-baby-blue: #5C9EAD;
$color-marine-blue: #326273;
$color-orange: #E39774;
$color-red: #b30000;
$color-gold: #cc9900;

$grid-square-size: 30%;

.container {
    background-image: radial-gradient($color-marine-blue, $color-baby-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    color: $color-white;
    font-family: $font-main;
    font-size: 16px;
    user-select: none;
    z-index: 0;

    .top-bar {
        position: absolute;
        top: 8px;

        button {
            padding: .2rem 1rem;
            border: none;
            border-radius: .3rem;
            background-color: $color-orange;
            color: $color-white;
            font-size: 24px;
            font-weight: 600;
            outline: none;

            &:hover {
                cursor: pointer;
            }
        }

        #game-start {
            margin-right: 1rem;
            transition: background-color .5s, color .5s;

            &:hover {
                background-color: $color-white;
                color: $color-orange
            }
        }

        #match-reset {
            transition: background-color .5s;

            &:hover {
                background-color: $color-red;
            }
        }
    }

    .scoreboard-bar {
        position: absolute;
        top: 82px;

        .border-right {
            margin-right: .2rem;
            padding-right: .6rem;
            border-right: 3px solid $color-orange;
        }
    }

    .message-bar {
        position: absolute;
        top: 52px;
    }

    .bottom-bar {
        position: absolute;
        bottom: 5px;
        font-size: 16px;

        .attribution {
            margin-right: 10px;
        }

        .logos{

            &:hover {
            cursor: pointer;
            }
            
            a {
                color: $color-white;

                &:hover {
                    color: $color-orange;
                }

                &:visited {
                    color: $color-gold;
                }
            }
        }
    }
}

.game-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 1%;
    background: $color-dark-gray;
    z-index: 3;

    .game-square {
        flex: 0 0 $grid-square-size;
        display: flex;
        justify-content: center;
        align-items: center;
        width: $grid-square-size;
        height: $grid-square-size;
        background-color: $color-light-gray;
        font-size: 50px;
        transition: background-color .5s;

        &:hover {
            cursor: pointer;
            background-color: $color-orange;
        }
    }

    .X {
        color: $color-red;
        animation: mark-select .5s ease;
    }

    .O {
        color: $color-baby-blue;
        animation: mark-select .5s ease;
    }
}

.shake-win {
    animation: shake-win 2000ms ease both;
}

@keyframes shake-win {
    0% {
        transform: scale3d(1, 1, 1);
        color: $color-gold;
      }
      30% {
        transform: scale3d(1.25, 0.75, 1);
      }
      40% {
        transform: scale3d(0.75, 1.25, 1);
      }
      50% {
        transform: scale3d(1.15, 0.85, 1);
      }
      65% {
        transform: scale3d(0.95, 1.05, 1);
      }
      75% {
        transform: scale3d(1.05, 0.95, 1);
      }
      100% {
        transform: scale3d(1, 1, 1);
        color: $color-gold;
      }
}

@keyframes mark-select {
    0% {
      transform: scale(1.3);
      transform-origin: 50% 0%;
      filter: blur(2px);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      transform-origin: 50% 0%;
      filter: blur(0px);
      opacity: 1;
    }
}